
.icon-left:before { content: '\e800'; } /* '' */
.icon-adult:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-eye-off:before { content: '\e804'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
